<h1><%= I18n.t('views.event.edit_event') %></h1>

<%= render 'form', event: @event %>

<div>
  <%= link_to t('views.event.show_event'), @event %> |
  <%= link_to t('views.event.back_to_events'), events_path %>
</div>
